In [1]:
#importing libraries

import time
import calendar as cal
import pandas as pd
import numpy as np

# Data Cleaning

In [2]:
# loading data

chicago = pd.read_csv('chicago.csv')
nyc = pd.read_csv('new_york_city.csv')
washington = pd.read_csv('washington.csv')

In [3]:
# cleaning chicago data

#chicago.info()
chicago.isnull().sum()

chicago['Gender'].value_counts()
mode_gender = chicago['Gender'].mode()[0]
chicago['Gender'].fillna(mode_gender, inplace=True)

chicago['Birth Year'].value_counts()
chicago.describe(include='all')
avg_year = chicago['Birth Year'].mean()
chicago['Birth Year'].fillna(avg_year, inplace=True)


chicago.isnull().sum()

Unnamed: 0       0
Start Time       0
End Time         0
Trip Duration    0
Start Station    0
End Station      0
User Type        0
Gender           0
Birth Year       0
dtype: int64

In [4]:
# cleaning nyc data

#nyc.info()
nyc.isnull().sum()
nyc.describe(include='all')

usertype_mode = nyc['User Type'].mode()[0]
nyc['User Type'].fillna(usertype_mode, inplace=True)

nyc['Gender'].value_counts()
mode_gender = nyc['Gender'].mode()[0]
nyc['Gender'].fillna(mode_gender, inplace=True)

nyc['Birth Year'].value_counts()
avg_year = nyc['Birth Year'].mean()
nyc['Birth Year'].fillna(avg_year, inplace=True)


nyc.isnull().sum()

Unnamed: 0       0
Start Time       0
End Time         0
Trip Duration    0
Start Station    0
End Station      0
User Type        0
Gender           0
Birth Year       0
dtype: int64

In [5]:
# cleaning washington data

#washington.info()
washington.isnull().sum()

Unnamed: 0       0
Start Time       0
End Time         0
Trip Duration    0
Start Station    0
End Station      0
User Type        0
dtype: int64

In [6]:
city_data = { 'chicago': 'chicago.csv',
              'new york city': 'new_york_city.csv',
              'washington': 'washington.csv' }

months = ['all','january', 'february', 'march', 'april', 'may', 'june']

days = ['all','monday','tuesday','wednesday','thursday','friday','saturday','sunday']

## def get_filters()

In [7]:
def get_filters():
    """
    Asks user to specify a city, month, and day to analyze.

    Returns:
        (str) city - name of the city to analyze
        (str) month - name of the month to filter by, or "all" to apply no month filter
        (str) day - name of the day of week to filter by, or "all" to apply no day filter
    """
    print('Hello! Let\'s explore some US bikeshare data!')
    # get user input for city (chicago, new york city, washington). HINT: Use a while loop to handle invalid inputs
    while True:
        try:
            city = str(input("Please enter your city: ")).lower()
        except ValueError:
            print("Sorry, I didn't understand that.")
            continue

        if city not in city_data:
            print("Please input one of these cities: Chicago, New York City or Washington")
            continue
        else:
        #city input was successfully parsed, and we're happy with its value.
        #we're ready to exit the loop.
            break


    # get user input for month (all, january, february, ... , june)
    while True:
        try:
            month = str(input("Please enter the month: ")).lower()
        except ValueError:
            print("Sorry, I didn't understand that.")
            continue
            

        if month not in months:
            print("Please enter a month between january to june or all to apply no filters")
        
        
            continue
        else:
            
        #month_input was successfully parsed, and we're happy with its value.
        #we're ready to exit the loop.
            break
    if month == 'all':
          print(months[1:])
            


    # get user input for day of week (all, monday, tuesday, ... sunday)
    while True:
        try:
            day = str(input("Please enter the day: ")).lower()
        except ValueError:
            print("Sorry, I didn't understand that.")
            continue

        if day not in days:
            print("Please enter a day of the week or all to apply no filters")
        
            continue
        else:
            
        #day_input was successfully parsed, and we're happy with its value.
        #we're ready to exit the loop.
            break
    if day == 'all':
        print(days[1:])
        


    print('-'*40)
    return city, month, day

get_filters()

Hello! Let's explore some US bikeshare data!
Please enter your city: washington
Please enter the month: may
Please enter the day: monday
----------------------------------------

('washington', 'may', 'monday')

## def load_data()

In [8]:
city_data = { 'chicago': 'chicago.csv',
              'new york city': 'new_york_city.csv',
              'washington': 'washington.csv' }

def load_data(city, month, day):
    """
    Loads data for the specified city and filters by month and day if applicable.

    Args:
        (str) city - name of the city to analyze
        (str) month - name of the month to filter by, or "all" to apply no month filter
        (str) day - name of the day of week to filter by, or "all" to apply no day filter
    Returns:
        df - pandas DataFrame containing city data filtered by month and day
    """
    
    # load data file into a dataframe
    df = pd.read_csv(city_data[city])

    # convert the Start Time column to datetime
    df['Start Time'] = pd.to_datetime(df['Start Time'])

    # extract month and day of week from Start Time to create new columns
    df['month'] = df['Start Time'].dt.month
    df['day_of_week'] = df['Start Time'].dt.dayofweek
    df['hour'] = df['Start Time'].dt.hour
 

    # filter by month if applicable
    
    if month != 'all':
        # use the index of the months list to get the corresponding int
        months = {'january': 1, 'february': 2, 'march': 3, 'april': 4,
                  'may': 5, 'june': 6}       
        
         # filter by month to create the new dataframe
        df = df.loc[df['month'] == months[month]]
        
        
        
    # filter by day of week if applicable
    if day != 'all':
        # filter by day of week to create the new dataframe
        
        days = {'monday': 0, 'tuesday': 1, 'wednesday': 2, 'thursday': 3,
                  'friday': 4, 'saturday': 5, 'sunday': 6}
        df = df.loc[df['day_of_week'] == days[day]]


    return df

df = load_data('chicago','january','monday')
df

,Unnamed: 0,Start Time,End Time,Trip Duration,Start Station,End Station,User Type,Gender,Birth Year,month,day_of_week,hour
121,42280,2017-01-16 14:54:38,2017-01-16 15:09:03,865,Field Museum,Millennium Park,Subscriber,Male,1992.0,1,0,14
167,77795,2017-01-23 18:50:16,2017-01-23 18:56:43,387,Indiana Ave & Roosevelt Rd,Michigan Ave & Washington St,Subscriber,Male,1990.0,1,0,18
236,42046,2017-01-16 11:29:52,2017-01-16 11:43:56,844,Pine Grove Ave & Waveland Ave,Ravenswood Ave & Montrose Ave (*),Subscriber,Female,1990.0,1,0,11
253,73287,2017-01-23 07:21:14,2017-01-23 07:32:39,685,Artesian Ave & Hubbard St,Racine Ave (May St) & Fulton St,Subscriber,Male,1972.0,1,0,7
256,3680,2017-01-02 23:40:20,2017-01-02 23:45:25,305,Lincoln Ave & Diversey Pkwy,Lincoln Ave & Belmont Ave,Subscriber,Male,1987.0,1,0,23
...,...,...,...,...,...,...,...,...,...,...,...,...
299515,21906,2017-01-09 16:30:36,2017-01-09 16:43:41,785,Federal St & Polk St,Calumet Ave & 21st St,Subscriber,Female,1982.0,1,0,16
299594,103888,2017-01-30 10:29:58,2017-01-30 10:34:03,245,Clark St & Schreiber Ave,Sheridan Rd & Loyola Ave,Subscriber,Male,1995.0,1,0,10
299642,77439,2017-01-23 18:07:06,2017-01-23 18:21:31,865,Dearborn St & Adams St,Michigan Ave & 18th St,Subscriber,Male,1985.0,1,0,18
299854,102458,2017-01-30 06:00:33,2017-01-30 06:06:29,356,Orleans St & Ohio St,Canal St & Madison St,Subscriber,Male,1993.0,1,0,6
299878,106323,2017-01-30 19:08:04,2017-01-30 19:11:47,223,Ashland Ave & Division St,Damen Ave & Division St,Subscriber,Female,1983.0,1,0,19

## def time_stats()

In [10]:
def time_stats(df):
    """Displays statistics on the most frequent times of travel."""

    print('\nCalculating The Most Frequent Times of Travel...\n')
    start_time = time.time()

    # display the most common month
    
    common_month = df['month'].mode()[0]
    print("The most common month is", common_month)


    # display the most common day of week
          
    common_day_of_week = df['day_of_week'].mode()[0]
    print("The most common day of week is", common_day_of_week)


    # display the most common start hour
    
    common_start_hour = df['hour'].mode()[0]
    print("The most common start hour is", str(common_start_hour))


    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)

## def station_stats()

In [11]:
def station_stats(df):
    """Displays statistics on the most popular stations and trip."""

    print('\nCalculating The Most Popular Stations and Trip...\n')
    start_time = time.time()

    # display most commonly used start station
    commonly_used_start_station = df['Start Station'].mode()[0]
    print('The most commonly used start station:', commonly_used_start_station)


    # display most commonly used end station
    commonly_used_end_station = df['End Station'].mode()[0]
    print('The most commonly used end station:', commonly_used_end_station)


    # display most frequent combination of start station and end station trip
    start_end_combo = (df['Start Station'] + ' and ' + df['End Station']).mode()[0]
    print('The most frequent combination of start station and end station is', start_end_combo)
    
    
    
    df['start end station'] = df['Start Station'] + ' and ' + df['End Station'] 
    popular_start_end_station = df['start end station'].mode()[0]
    

    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)

## def trip_duration_stats()

In [12]:
def trip_duration_stats(df):
    """Displays statistics on the total and average trip duration."""

    print('\nCalculating Trip Duration...\n')
    start_time = time.time()
    

    # display total travel time
    total_travel_time = df['Trip Duration'].sum()
    print('Total travel time is:', str(total_travel_time))


    # display mean travel time
    mean_travel_time = df['Trip Duration'].mean()
    print('Mean travel time is:', str(mean_travel_time))


    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)

## def user_stats()

In [13]:
def user_stats(df):
    """Displays statistics on bikeshare users."""

    print('\nCalculating User Stats...\n')
    start_time = time.time()

    # Display counts of user types
    usertype_count = df['User Type'].value_counts()
    print('Count of user types in your selected data is:', usertype_count)
    


    # Display counts of gender
    
    
    if 'Gender' in df.columns:                                            # checking to see if dataframe contains Gender column
        gender_count = df['Gender'].value_counts()
        print('The count of gender in your selected data is', str(gender_count))
        
    else:
        print("There's no information on gender for your selected data")

    # Display earliest, most recent, and most common year of birth
    
    if 'Birth Year' in df.columns:                                       # checking to see if dataframe contains Gender column         
        earliest_birth = df['Birth Year'].min()
        print('Earliest year of birth is', int(earliest_birth))
        
        most_recent  = df['Birth Year'].max()
        print('Most recent year of birth is', int(most_recent))
        
        most_common = df['Birth Year'].mode()
        print('Most common year of birth is', int(most_common))
        
        
    else:
        print("There's no information on birth year for your selected data")
    
    print("\nThis took %s seconds." % (time.time() - start_time))
    print('-'*40)

## def main()

In [14]:
def main():
    while True:
        city, month, day = get_filters()
        df = load_data(city, month, day)

        time_stats(df)
        station_stats(df)
        trip_duration_stats(df)
        user_stats(df)
        

        restart = input('\nWould you like to restart? Enter yes or no.\n')
        if restart.lower() != 'yes':
            break


if __name__ == "__main__":
	main()

Hello! Let's explore some US bikeshare data!
Please enter your city: chicago
Please enter the month: may
Please enter the day: all
['monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday', 'sunday']
----------------------------------------

Calculating The Most Frequent Times of Travel...

The most common month is 5
The most common day of week is 0
The most common start hour is 17

This took 0.015565872192382812 seconds.
----------------------------------------

Calculating The Most Popular Stations and Trip...

The most commonly used start station: Streeter Dr & Grand Ave
The most commonly used end station: Streeter Dr & Grand Ave
The most frequent combination of start station and end station is Lake Shore Dr & Monroe St and Streeter Dr & Grand Ave

This took 0.254197359085083 seconds.
----------------------------------------

Calculating Trip Duration...

Total travel time is: 65175363
Mean travel time is: 976.3367987416673

This took 0.007997751235961914 seconds.
----------------------------------------

Calculating User Stats...

Count of user types in your selected data is: Subscriber    51020
Customer      15735
Name: User Type, dtype: int64
The count of gender in your selected data is Male      38284
Female    12750
Name: Gender, dtype: int64
Earliest year of birth is 1899
Most recent year of birth is 2016
Most common year of birth is 1989

This took 0.05577254295349121 seconds.
----------------------------------------

Would you like to restart? Enter yes or no.
no