In [1]:
import pandas as pd

df = pd.read_csv('chicago.csv')
def load_raw_data():
    counter = [5*x for x in range(len(df))]
    i = 0
    while True:
        try:
            user_choice = str(input("Would you like to see five lines of the raw data? Enter 'y' or n ")).lower()
        except InputError:
            continue
        if user_choice == 'y':
            print(df[counter[i]:counter[i+1]])
            i += 1
        elif user_choice == 'n':
            break

In [ ]:
load_raw_data()

Would you like to see five lines of the raw data? Enter 'y' or n y
   Unnamed: 0           Start Time             End Time  Trip Duration  \
0     1423854  2017-06-23 15:09:32  2017-06-23 15:14:53            321
1      955915  2017-05-25 18:19:03  2017-05-25 18:45:53           1610
2        9031  2017-01-04 08:27:49  2017-01-04 08:34:45            416
3      304487  2017-03-06 13:49:38  2017-03-06 13:55:28            350
4       45207  2017-01-17 14:53:07  2017-01-17 15:02:01            534

                   Start Station                   End Station   User Type  \
0           Wood St & Hubbard St       Damen Ave & Chicago Ave  Subscriber
1            Theater on the Lake  Sheffield Ave & Waveland Ave  Subscriber
2             May St & Taylor St           Wood St & Taylor St  Subscriber
3  Christiana Ave & Lawrence Ave  St. Louis Ave & Balmoral Ave  Subscriber
4         Clark St & Randolph St  Desplaines St & Jackson Blvd  Subscriber

   Gender  Birth Year
0    Male      1992.0
1  Female      1992.0
2    Male      1981.0
3    Male      1986.0
4    Male      1975.0