In [1]:
import pandas as pd
import datetime

CITY_DATA = { 'chicago': 'chicago.csv',
              'new york city': 'new_york_city.csv',
              'washington': 'washington.csv' }

df = pd.read_csv('chicago.csv')

a = 5
x = a+5

while True:
    sub = input('would you like to see the first 5 raw data: ')
    if sub == 'y':
        print(df.head())
    if sub != 'y':
        break
                
    while sub =='y':
        man = input('would you like to see more raw data: ')
        if man == 'y':
            print(df[++a:++x])
        if man != 'y':
                break
                
        


    
        #city input was successfully parsed, and we're happy with its value.
        #we're ready to exit the loop.

would you like to see the first 5 raw data: y
   Unnamed: 0           Start Time             End Time  Trip Duration  \
0     1423854  2017-06-23 15:09:32  2017-06-23 15:14:53            321
1      955915  2017-05-25 18:19:03  2017-05-25 18:45:53           1610
2        9031  2017-01-04 08:27:49  2017-01-04 08:34:45            416
3      304487  2017-03-06 13:49:38  2017-03-06 13:55:28            350
4       45207  2017-01-17 14:53:07  2017-01-17 15:02:01            534

                   Start Station                   End Station   User Type  \
0           Wood St & Hubbard St       Damen Ave & Chicago Ave  Subscriber
1            Theater on the Lake  Sheffield Ave & Waveland Ave  Subscriber
2             May St & Taylor St           Wood St & Taylor St  Subscriber
3  Christiana Ave & Lawrence Ave  St. Louis Ave & Balmoral Ave  Subscriber
4         Clark St & Randolph St  Desplaines St & Jackson Blvd  Subscriber

   Gender  Birth Year
0    Male      1992.0
1  Female      1992.0
2    Male      1981.0
3    Male      1986.0
4    Male      1975.0
would you like to see more raw data: y
   Unnamed: 0           Start Time             End Time  Trip Duration  \
5     1473887  2017-06-26 09:01:20  2017-06-26 09:11:06            586
6      961916  2017-05-26 09:41:44  2017-05-26 09:46:25            281
7       65924  2017-01-21 14:28:38  2017-01-21 14:40:41            723
8      606841  2017-04-20 16:08:51  2017-04-20 16:20:20            689
9      135470  2017-02-06 18:00:47  2017-02-06 18:09:00            493

                  Start Station                    End Station   User Type  \
5  Clinton St & Washington Blvd           Canal St & Taylor St  Subscriber
6         Ashland Ave & Lake St           Wood St & Hubbard St  Subscriber
7    Larrabee St & Kingsbury St     Larrabee St & Armitage Ave    Customer
8        Sedgwick St & Huron St  Halsted St & Blackhawk St (*)  Subscriber
9  Stetson Ave & South Water St   Clinton St & Washington Blvd  Subscriber

   Gender  Birth Year
5    Male      1990.0
6  Female      1983.0
7     NaN         NaN
8    Male      1984.0
9    Male      1979.0
would you like to see more raw data: y
   Unnamed: 0           Start Time             End Time  Trip Duration  \
5     1473887  2017-06-26 09:01:20  2017-06-26 09:11:06            586
6      961916  2017-05-26 09:41:44  2017-05-26 09:46:25            281
7       65924  2017-01-21 14:28:38  2017-01-21 14:40:41            723
8      606841  2017-04-20 16:08:51  2017-04-20 16:20:20            689
9      135470  2017-02-06 18:00:47  2017-02-06 18:09:00            493

                  Start Station                    End Station   User Type  \
5  Clinton St & Washington Blvd           Canal St & Taylor St  Subscriber
6         Ashland Ave & Lake St           Wood St & Hubbard St  Subscriber
7    Larrabee St & Kingsbury St     Larrabee St & Armitage Ave    Customer
8        Sedgwick St & Huron St  Halsted St & Blackhawk St (*)  Subscriber
9  Stetson Ave & South Water St   Clinton St & Washington Blvd  Subscriber

   Gender  Birth Year
5    Male      1990.0
6  Female      1983.0
7     NaN         NaN
8    Male      1984.0
9    Male      1979.0
would you like to see more raw data: n
would you like to see the first 5 raw data: n

In [ ]:
def load_raw_data():
    """Displays raw data on user request.
    Args:
        (DataFrame) df - Pandas DataFrame containing city data filtered by month and day
    """
    
    counter = [5*x for x in range(len(df))]
    i = 0
    while True:
        try:
            user_choice = str(input("Would you like to see the first five lines of the raw data? Enter y or n ")).lower()
        except InputError:
            continue
        if user_choice == 'y':
            print(df[counter[i]:counter[i+1]])
            i += 1
        elif user_choice == 'n':
            break
            
load_raw_data()

In [3]:
def display_raw_data(df):
    """Displays raw data on user request.
    Args:
        (DataFrame) df - Pandas DataFrame containing city data filtered by month and day
    """
    print(df.head())
    next = 0
    while True:
        view_raw_data = input('\nWould you like to view next five row of raw data? Enter yes or no.\n')
        if view_raw_data.lower() != 'yes':
            return
        next = next + 5
        print(df.iloc[next:next+5])
        
        
display_raw_data(df)

   Unnamed: 0           Start Time             End Time  Trip Duration  \
0     1423854  2017-06-23 15:09:32  2017-06-23 15:14:53            321
1      955915  2017-05-25 18:19:03  2017-05-25 18:45:53           1610
2        9031  2017-01-04 08:27:49  2017-01-04 08:34:45            416
3      304487  2017-03-06 13:49:38  2017-03-06 13:55:28            350
4       45207  2017-01-17 14:53:07  2017-01-17 15:02:01            534

                   Start Station                   End Station   User Type  \
0           Wood St & Hubbard St       Damen Ave & Chicago Ave  Subscriber
1            Theater on the Lake  Sheffield Ave & Waveland Ave  Subscriber
2             May St & Taylor St           Wood St & Taylor St  Subscriber
3  Christiana Ave & Lawrence Ave  St. Louis Ave & Balmoral Ave  Subscriber
4         Clark St & Randolph St  Desplaines St & Jackson Blvd  Subscriber

   Gender  Birth Year
0    Male      1992.0
1  Female      1992.0
2    Male      1981.0
3    Male      1986.0
4    Male      1975.0

Would you like to view next five row of raw data? Enter yes or no.
yes
   Unnamed: 0           Start Time             End Time  Trip Duration  \
5     1473887  2017-06-26 09:01:20  2017-06-26 09:11:06            586
6      961916  2017-05-26 09:41:44  2017-05-26 09:46:25            281
7       65924  2017-01-21 14:28:38  2017-01-21 14:40:41            723
8      606841  2017-04-20 16:08:51  2017-04-20 16:20:20            689
9      135470  2017-02-06 18:00:47  2017-02-06 18:09:00            493

                  Start Station                    End Station   User Type  \
5  Clinton St & Washington Blvd           Canal St & Taylor St  Subscriber
6         Ashland Ave & Lake St           Wood St & Hubbard St  Subscriber
7    Larrabee St & Kingsbury St     Larrabee St & Armitage Ave    Customer
8        Sedgwick St & Huron St  Halsted St & Blackhawk St (*)  Subscriber
9  Stetson Ave & South Water St   Clinton St & Washington Blvd  Subscriber

   Gender  Birth Year
5    Male      1990.0
6  Female      1983.0
7     NaN         NaN
8    Male      1984.0
9    Male      1979.0

Would you like to view next five row of raw data? Enter yes or no.
yes
    Unnamed: 0           Start Time             End Time  Trip Duration  \
10      175805  2017-02-15 07:09:55  2017-02-15 07:14:56            301
11       71678  2017-01-22 15:15:45  2017-01-22 15:31:02            917
12       19061  2017-01-08 16:03:00  2017-01-08 16:07:37            277
13     1023296  2017-05-30 15:46:18  2017-05-30 15:52:12            354
14      611000  2017-04-20 19:26:33  2017-04-20 19:35:08            515

                     Start Station                      End Station  \
10            Broadway & Barry Ave         Wilton Ave & Belmont Ave
11  Southport Ave & Wellington Ave           Clark St & Schiller St
12           Green St & Madison St         Ada St & Washington Blvd
13      Larrabee St & Kingsbury St                Clark St & Elm St
14           Canal St & Madison St  Racine Ave (May St) & Fulton St

     User Type  Gender  Birth Year
10  Subscriber  Female      1993.0
11  Subscriber    Male      1964.0
12  Subscriber    Male      1961.0
13  Subscriber    Male      1985.0
14  Subscriber    Male      1984.0

Would you like to view next five row of raw data? Enter yes or no.
no